Variables seems to be not supported
:root {

    /* black */
    --color0: #48483e;
    --color8: #76715e;

    /* red */
    --color1: rgb(220, 37, 102);
    --color9: #fa2772;

    /* green */
    --color2: #8fc029;
    --color10: #a7e22e;

    /* yellow */
    --color3: rgb(212, 201, 110);
    --color11: #e7db75;

    /* blue */
    --color4: rgb(85, 188, 206);
    --color12: #66d9ee;

    /* magenta */
    --color5: rgb(147, 88, 254);
    --color13: #ae82ff;

    /* cyan */
    --color6: #56b7a5;
    --color14: #66efd5;

    /* white */
    --color7: rgb(172, 173, 161);
    --color15: #cfd0c2;
}

.xfce4-panel {
    color: rgb(172, 173, 161);
    font-size: 0.8em;
}

.xfce4-panel #xfce4-notification-plugin {
    background-color: red;
}

.xfce4-panel image {
    color: rgb(172, 173, 161);
    -gtk-icon-transform: scale(0.8);
}

.xfce4-panel.background {
    background-color: rgba(72, 72, 62, 0.1);
    font-family: 'Courier New', Courier, monospace;
}

.xfce4-panel button .selected {
    background-color: rgba(220, 37, 102, 0.5);
}

.xfce4-panel button {
    background-color: rgba(72, 72, 62, 0.1);
}

.xfce4-panel button:hover {
    background-color: rgba(212, 201, 110, 0.5);
}

.xfce4-panel widget grid button {
    background-color: rgba(72, 72, 62, 0.1);
}

.xfce4-panel widget grid button:checked {
    border-bottom: solid 0.3em rgba(220, 37, 102, 0.5);
    border-top: solid 0.3em rgba(220, 37, 102, 0.5);
}

.xfce4-panel.flat {
    background-color: red;
}

#clock-button {
    padding: 0 15em;
    margin: 0 5em;
}

.xfce4-panel widget grid {
    padding-left: 1em;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

#pulseaudio-button {
    margin-right: 1em;
}